.button {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  color: inherit;
  text-decoration: none;
  background: transparent;
  border: 1px solid #0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}

.button:last-of-type {
  margin-bottom: 0;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus,
.button:not([disabled]):active {
  color: #fff;
  background-color: #0070f3;
}

.icon {
  margin-right: 0.5rem;
}
