.page {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.info {
  margin-bottom: 1.5rem;
}

.info p {
  margin-top: 0;
}
