.home {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  transition: all 0.175s ease-in-out;
  padding: 0.5rem;
  cursor: pointer;
}

.home:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
