.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.adornment {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  margin-top: -1rem;
}
