html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --toggle-color: rgb(204, 204, 204);
  --background-color: #0070f3;
  --slider-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --toggle-color: rgb(255, 255, 255);
    --background-color: #0070f3;
    --slider-color: rgb(82, 79, 79);
  }
}
