.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
