.card {
  display: block;
  margin: 1rem auto;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 420px;
  text-align: center;
}

.card h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}
